<ion-list>
  <ion-list-header>
    Telematics Studients
  </ion-list-header>
  <ion-item *ngFor="let student of studentsTel" (click)="viewStudentInfo(student.name)">
    <ion-label>
      <h2>{{ student.name }}</h2>
    </ion-label>
  </ion-item>
  <ion-list-header>
    Aeros Studients
  </ion-list-header>
  <ion-item *ngFor="let student of studentsAer" (click)="viewStudentInfo(student.name)">
    <ion-label>
      <h2>{{ student.name }}</h2>
    </ion-label>
  </ion-item>
  <ion-list-header>
    Systems Studients
  </ion-list-header>
  <ion-item *ngFor="let student of studentsSys" (click)="viewStudentInfo(student.name)">
    <ion-label>
      <h2>{{ student.name }}</h2>
    </ion-label>
  </ion-item>
</ion-list>
